* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
}

.container {
  background-color: gainsboro;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.box {
  background-color: white;
  height: 40%;
  width: 30%;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

button {
  width: 80%;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
  color: white;
  border: none;
  font-size: 1em;
}

#deposit {
  background-color: rgb(16, 210, 36);
}
#deposit:hover {
  background-color: rgb(13, 229, 35);
}

#withdraw {
  background-color: red;
}

#withdraw:hover {
  background-color: rgb(223, 15, 15);
}

p {
  color: rgb(16, 210, 36);
  font-size: 1.2em;
}
